.customers {
    background-repeat: no-repeat;
    background-position: bottom;
    background-image:url(../images/mobile/customerbgmob320.png);
    padding-top: 60px;

    @media screen and (max-width: $mobile) {
        background-image:url(../images/mobile/customerbgmob320.png);
        background-size: cover;
    }
    @media screen and (min-width: 480px) and (max-width: 767px) {
        background-image:url(../images/mobile/customerbgmob.png);
    }

    @media screen and (min-width: $tablet){
        background-image:url(../images/tablet/customersbgtab.png);
       
    }

    @media screen and (min-width: $desktop){
        background-image:url(../images/desktop/customersbgdesk.png);
        padding-top: 100px;
    }
   
}


.customers__container{
    display: flex;
    flex-direction: column;

    @media screen and (max-width: $tablet){
        align-items: center;
    }
}

.customers__title{
    margin-bottom: 20px;
}

.customers__paragraph{
    margin-bottom: 32px;
    line-height: 1.14;

    @media screen and (min-width: $tablet){
        line-height: 1.19;
    }
}

.customers__say{
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-bottom: 60px;


    @media screen and (min-width: $tablet){
        flex-direction: initial;
        gap: 32px;
        padding-bottom: 120px;
       
    }

    @media screen and (min-width: $desktop){
        gap: 139px;
        padding-bottom: 200px;
        margin-right: auto;
       
    }
   
}

.review__box{
    max-width: 280px;
    background: #FFFFFF;
    border-radius: 0px 27px 27px 27px;
    padding: 8px;

    @media screen and (min-width: $tablet){
       padding: 12px;
       max-width: 336px;
    }

    @media screen and (min-width: $desktop){
        padding: 14px;
        max-width: 501px;
     }
}


.review__paragraph{
    margin-top: 28px;
    margin-bottom: 40px;
    @include fSize(700, 16px, 1.19);

    @media screen and (min-width: $tablet){
        @include fSize(700, 18px, 1.17);
    }
}


.customers__image{
    border: 2px solid #FFE550;
    border-radius: 29px;
}

.review__card{
    display: flex;
    gap: 16px;
    align-items: center;
}

.review__customer{
    border-right: 1px solid #7EB101;
    padding-right: 16px;
}

.review__name{
    font-size: 14px;
}