.customers{
    // max-width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-image:url(../images/mobile/customerbgmob320.png);

    // @media screen and (max-width: $mobile) {
    //     background-image:url(../images/mobile/customerbgmob320.png);
       
    // }

    @media screen and (min-width: 480px) and (max-width: 767px) {
        background-image:url(../images/mobile/customerbgmob.png);
    }
   
}
.customers__dscr{
    padding-top: 60px;
    max-width: 280px;
    padding-bottom: 32px;
}

.customers__title{
    margin-bottom: 20px;
}

.customers__say{
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-bottom: 60px;
   
}

.review__box{
    gap: 24px;
    max-width: 280px;
    background: #FFFFFF;
    border-radius: 0px 27px 27px 27px;
    padding: 8px;
}

// .customers__icons{
    
// }

.review__paragraph{
    margin-top: 28px;
    margin-bottom: 40px;
}

.customers__image{
    border: 2px solid #FFE550;
    border-radius: 29px;
}

.review_paragraph{
    @include fSize(700, 16px, 1.18);
}

.review__card{
    display: flex;
    gap: 16px;
}

.review__customer{
    border-right: 1px solid #7EB101;
    padding-right: 16px;
}