.section__title {
  margin-bottom: 20px;
  max-width: 280px;
  text-align: center;
  line-height: 1.18;

  @media screen and(min-width: $tablet) {
    max-width: 656px;
  }
}

.favorites__text {
  margin-bottom: 60px;
  max-width: 280px;
  text-align: center;
  line-height: 1.14;

  @media screen and(min-width: $tablet) {
    max-width: 656px;
  }

  @media screen and(min-width: $desktop) {
    margin-bottom: 40px;
  }
}

.favorites__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;

  @media screen and(min-width: $tablet) {
    gap: 32px;
  }
}

.favorites__item {
  display: flex;
  max-width: 280px;

  @media screen and(min-width: $tablet) {
    max-width: 336px;
  }

  @media screen and(min-width: $desktop) {
    max-width: 394px;
  }

  &:nth-child(n + 4) {
    display: none;
  }

  @media screen and(min-width: $tablet) {
    &:nth-child(n + 4) {
      display: flex;
    }
  }
}

.favorites__link {
  padding-top: 29px;
  padding-bottom: 29px;
  padding-left: 29px;
  padding-right: 29px;

  background: #f5f5f5;
  border: 11px solid #ffe550;
  border-radius: 50%;

  &:hover,
  &:focus {
    border-color: #bbf330;
  }

  @media screen and(min-width: $tablet) {
    padding-top: 34px;
    padding-bottom: 34px;
    padding-left: 34px;
    padding-right: 34px;
    border: 14px solid #ffe550;
  }

  @media screen and(min-width: $desktop) {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
    border: 16px solid #ffe550;
  }
}

.favorites__img {
  @media screen and(min-width: $tablet) {
    width: 268px;
  }

  @media screen and (min-width: $desktop) {
    width: 315px;
  }
}
