.hero {
    @media screen and (max-width:$desktop) {
        padding-top: 60px;
        padding-bottom: 60px
    }
}

.hero__title {
    @include fSize (700, 28, 1.18);

    @media screen and (min-width:$tablet) {
        @include fSize (700, 42, 1.19); 
        margin-right: 167px;
    }

    @media screen and (min-width:$desktop) {
        display: none;    
    }
}

.hero__text {
    @include fSize (400, 14, 1.5);
    margin-top: 28px;
    margin-bottom: 34px;

    @media screen and (min-width:$tablet) {
        @include fSize (400, 16, 1.5);
        margin-top: 44px;
        margin-bottom: 40px;    
    }

    @media screen and (min-width:$desktop) {
         margin-top: 28px;   
    }
}

.hero__button {
    padding: 6px 18px;
    text-align: center;
    background-color: $button-green;
    border-radius: 30px;
    border: none;

    @include fSize (500, 13, 1.5);

    &:hover,
    &:focus {
        background-color: $button-green-hover;
    }
}

.hero__photo {
    // max-width: 100%;
    display: none;
    @media screen and (min-width: $tablet) {
        display: flex;
        outline: 14px solid $primary-yellow-color;
        border-radius: 50%;
        // margin-bottom: 14px;
        // margin-right: 22px;
        
        &:hover,
        &:focus {
            outline: 14px solid $button-green;
        }
              
    }

    @media screen and (min-width:$desktop) {
        outline: 26px solid $primary-yellow-color;

        &:hover,
        &:focus {
            outline: 26px solid $button-green;
        }
    }
}

// // .hero__picture {
//     @media screen and (min-width:$tablet) {
//         min-width: 320px;
//     }

//     @media screen and (min-width:$desktop) {
//         min-width: 528px;    
//     }
// }

.hero__picture {
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (min-width:$tablet) {
        min-width: 320px;    
    }

    @media screen and (min-width:$desktop) {
        min-width: 528px;
        margin-top: 40px;
        margin-right: 40px;
    }

}

.hero__content {
    @media screen and (min-width: $tablet) {
        display: flex;
    }
}

.hero__content-inner {
    @media screen and (min-width:$tablet) {
        margin-right: 56px;
    }

    @media screen and (min-width:$desktop) {
        margin-top: 159px;
        margin-right: 178px;    
    }
}

// .hero__photo {
//     outline: 14px solid $primary-yellow-color;
//     border-radius: 50%;
//     margin-bottom: 14px;
//     margin-right: 22px;

//     &:hover,
//     &:focus {
//         outline: 14px solid $button-green;
//     }
// }

.hero__title-desktop {
    display: none;
    @include fSize (700, 48, 1.2);

    @media screen and (min-width:$desktop) {
        display: block;
    }
}





