.offerings {
    position: relative;
    padding-top: 41px;
    padding-bottom: 63px;
}

.offerings__background {
    position: absolute;
    top: 0;
    background-image: url('../images/mobile/offersbg@mobile.png');  
    background-repeat: no-repeat; 
    background-size: cover;

}

.offerings_img {
    border: 3px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 41px;
    margin-bottom: 60px;
}

.offerings__title {
    @include fSize(700 , 28px, 1.2);
    margin-bottom: 28px;
}


.offerings__desc {
    margin-bottom: 28px;
}

.offerings__item {
    margin-bottom: 28px;
}

.offerings__wraper {
    align-items: center;
    display: flex;
    gap: 24px;
}

.offerings__btn {
    
    padding: 10px 22px;
    border: none;
    background: #FFFFFF;

    border: 2px solid $dark-green;
    border-radius: 30px;
}

.offerings__link {
    width: 83px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

