.offerings__background {

    background-image: url('../images/mobile/offersbg@mobile.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 60px;

}

.offerings .offerings__image {


    @media screen and (max-width: 767px) {
        position: relative;
        z-index: 2;

        border-radius: 50%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 41px;
        margin-bottom: 117px;
    }
}

.offerings__main-apple {
    padding-top: 40px;
    display: flex;
    justify-content: center;
}

.offerings__apple-box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 280px;
    box-shadow: inset 0 0 0 12px $primary-yellow-color;
    background-color: $primary-white-color;
    border: 3px solid $primary-white-color;
    border-radius: 50%;

    &::after {
        content: "";
        position: absolute;
        bottom: 35px;
        right: 55px;
        width: 164px;
        height: 56.47px;
        background: radial-gradient(50% 50%, #32582f 0%, rgba(105, 105, 105, 0) 100%);

    }


    @media screen and (min-width:$tablet) {

        width: 357px;
        height: 357px;
        margin-top: 200px;


    }
}

.offerings__title {
    width: 280px;
    margin-bottom: 28px;
}


.offerings__desc {
    width: 277px;
    margin-bottom: 28px;
}

.offerings-delivery::before {
    margin-bottom: 8px;
    content: "";
    display: flex;
    background-image: url("../images/rocket.svg");
    background-repeat: no-repeat;
    background-color: #FFFFFF;
    background-position: center;
    border-radius: 50%;
    width: 48px;
    height: 48px;
}

.offerings-order::before {
    margin-bottom: 8px;
    content: "";
    display: flex;
    background-image: url("../images/finger.svg");
    background-repeat: no-repeat;
    background-color: #FFFFFF;
    background-position: center;
    border-radius: 50%;
    width: 48px;
    height: 48px;
}

.offerings__list {
    width: 252px;
}


.offerings__icon {

    justify-content: center;
    display: flex;
    align-items: center;
    width: 48px;
    height: 48px;
    margin-bottom: 8px;

}

.offerings__benefits {
    @include fSize(700, 18px, 1.2);
    margin-bottom: 16px;

}

.offerings__wraper {
    align-items: center;
    display: flex;
    gap: 24px;
}

.offerings__btn {
    padding: 10px 22px;
    border: none;
    background: #FFFFFF;
    border: 2px solid $dark-green;
    border-radius: 30px;
    cursor: pointer;
    &:hover,
    &:focus {
    border: 2px solid $button-border;}}


.offerings__link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &::after {
    margin-right: 3.42px;
    content: "";
    background-image: url("../images/arrow-right.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 13.67px;
    height: 13.67px;
    }}
@media screen and (max-width: $tablet) {
    .tablet-img {
        display: none;
    }

    .offerings__apple-box2 {
        display: none;
    }

    .offerings__apple-box3 {
        display: none;
    }

    .offerings__main-apple {
        display: flex;
    }
}

@media screen and (min-width:$tablet) {
    .offerings {
        margin-top: -320px;
        padding-top: 150px;
    }

    .offerings .offerings__title {
        width: 526px;
        @include fSize(700, 42px, 1.2);
        margin-bottom: 20px;
    }

    .offerings-block {
        display: block;
    }

    .offerings__img {
        display: none;
    }


    .offerings__background {
        margin-top: 0;
        position: relative;
        background-image: url('../images/tablet/offersbg_tablet.png');
        background-repeat: no-repeat;
        background-size: cover;

    }

    .offerings__apple-box {
        margin-top: 150px;

    }

    .offerings .offerings__apple-box2 {
        justify-content: center;
        align-items: flex-end;
        column-gap: 44px;
        margin-bottom: 70px;
        margin-left: 29px;
        display: flex;

    }

    .offerings .offerings__apple-box::after {
        content: "";
        position: absolute;
        bottom: 45px;
        right: 87px;
    }

    .offerings__image {
        position: relative;
        z-index: 2;
        margin-bottom: 100px;
    }

    .offerings__main-apple {
        margin-bottom: 60px;
        display: flex;
        justify-content: space-between;
    }

    .offerings__image-2 {
        margin-bottom: 50px;
    }

    .offerings__image-3 {
        margin-bottom: 50px;
    }



    .images-wraper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 60px;
    }

    .tablet-img {

        margin-bottom: 60px;
    }

    .offerings .offerings__title {
        width: 526px;
        @include fSize(700, 42px, 1.2);
        margin-bottom: 20px;
    }

    .offerings__desc {
        @include fSize(400, 16px, 1.2);
        margin-bottom: 40px;
        width: 500px;
    }

    .offerings__list {
        display: flex;
        align-items: center;
        gap: 116px;
        width: auto;
        margin-bottom: 40px;
    }

}

@media screen and (max-width: $desktop) {
    .desktop-img {
        display: none;
    }


}

@media screen and (min-width: $desktop) {
    .offerings {
        margin-top: -150px;
        padding-top: 150px;
    }

    .offerings__apple-box {
        width: 550px;
        height: 550px;
    }

    .desctop-main {
        height: 100%;
        padding-top: 200px;
    }

    .tablet-img {
        display: none;
    }

    .offerings__img {
        display: none;
    }

    .offerings .offerings__apple-box::after {
        content: "";
        position: absolute;
        bottom: 80px;
        right: 150px;
        width: 252px;
    }

    .offerings__picture {
        width: 395px;
        height: 502px;
        margin-bottom: 150px;
    }

    .offerings__picture-2 {
        display: none;
    }


    .offerings__picture-3 {
        display: none;
    }

    .offerings__apple-box2 {
        display: none;
    }


    .offerings__img-2 {
        display: none;
    }

    .offerings__img-3 {
        display: none;
    }



    .offerings__background {
        background-image: url('../images/desktop/offerbg_desktop.png');
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: -100px;
    }



    .images-wraper {
        display: none;
    }

    .offerings__link {
        display: none;
    }

    .desktop-flex {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 90px;
    }
}

