@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
    @include fSize(400, 14, 1.14);
    color: var($primary-text-color);
    @media screen and (min-width:$tablet) {
    @include fSize(400, 16px, 1.19);
}}

.container {
    padding-right: 20px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto;
    @media screen and (min-width:$mobile){
    width: 480px;
    }
    @media screen and (min-width:$tablet){
        right: 32px;
        padding-left: 32px;
        width: 768px;
    }
    @media screen and (min-width:$desktop){
        padding-left: 16px;
        padding-right: 16px;
        width: 1280px;
    }
}

@mixin fSize($weight, $size, $height) {
    font-weight: $weight;
    font-size: $size;
    line-height: $height;
}

// .test {
//     @include fSize(500 , 24px, 1.6, 0.02em)
// }

.section__title {
    @include fSize(700, 28px, 1.21);
    color: var($primary-text-color);
    @media screen and (min-width:$tablet) {
        @include fSize(700, 42px, 1.17);
    }
}

// raccoons normalize 

html {
    box-sizing: border-box;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
}

address {
    font-style: normal;
}

button {
    font-family: inherit;
    padding: 0;
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}