@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.container {
    padding-right: 20px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto;

    @media screen and (min-width:$mobile) {
        width: $mobile;
    }

    @media screen and (min-width:$tablet){
        padding-right: 32px;
        padding-left: 32px;
        width: $tablet;
    }

    @media screen and (min-width:$desktop){
        padding-left: 16px;
        padding-right: 16px;
        width: $desktop;
    }
}

@mixin fSize($weight, $size, $height, $l-spacing) {
    font-weight: $weight;
    font-size: $size;
    line-height: $height;
    letter-spacing: $l-spacing;
}

// .test {
//     @include fSize(500 , 24px, 1.6, 0.02em)
// }

.section__title {
    @include fSize(700, 28px, 1.21);
    color: var($primary-text-color);

    @media screen and (min-width:$tablet) {
        @include fSize(700, 42px, 1.17);
    }
}

.section__description {
    @include fSize(400, 14, 1.14);
    color: var($primary-text-color);

    @media screen and (min-width:$tablet) {
        @include fSize(400, 16px, 1.19);
    }
}

