$primary-white-color:  #FEFEFE;
$primary-yellow-color: #FFE550;
$button-green:#BBF330;
$button-green-hover: #B5FF00;
$button-border:#597D00;
$dark-green: #7EB101;
$primary-text-color: #2C2C2C;
$input-text-color: #505050;
$apple-shadow-bg: radial-gradient(50% 50% at 50% 50%, #2F583F 0%, rgba(105, 105, 105, 0) 100%);

// sizes 

$mobile: 479.8px;
$tablet: 767.8px;
$desktop: 1279.8px;

// // img name rule
// pizza_desktop@x1.img
// pizza_desktop@x2.img

// animation rules

$cubic-bezier: cubic-bezier(0, .55, 1, .37);

// transition: 250ms $cubic-bezier;