
<section class="customers">
    <div class="container customers__container">
            <h2 class="customers__title section__title">
                What our Customers Say
            </h2>
            <p class="customers__paragraph">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
        <div class="customers__say review">
            <div class="review__box">      
                    <svg width="17px" height="16px" aria-label="star">
                        <use href="./images/icons.svg#icon-star_rank"></use>
                    </svg>
                    <svg width="17px" height="16px" aria-label="star">
                        <use href="./images/icons.svg#icon-star_rank"></use>
                    </svg>
                    <svg width="17px" height="16px" aria-label="star">
                        <use href="./images/icons.svg#icon-star_rank"></use>
                    </svg>
                    <svg width="17px" height="16px" aria-label="star">
                        <use href="./images/icons.svg#icon-star_rank"></use>
                    </svg>
                    <svg width="17px" height="16px" aria-label="star">
                        <use href="./images/icons.svg#icon-star_rank"></use>
                    </svg>
                <p class="review__paragraph">
                    “The Best app I have used to order food in a while, so many options to choose from too, I would recommend to a freind, No questions asked”
                </p>
            
                <div class="review__card">
                    <picture>
                        <source srcset="./images/desktop/customer1.png 1x, ./images/desktop/customer1@2x.png 2x">
                        <img class="customers__image" src="./images/desktop/customer1.png" alt="customer">
                    </picture>
                    <div class="review__customer">
                        <b class="review__name">Sumith Shah</b>
                        <p class="review__name">Some Dude</p>
                    </div>
                </div>
            </div>
            <div class="review__box">
                <svg width="17px" height="16px" aria-label="star">
                    <use href="./images/icons.svg#icon-star_rank"></use>
                </svg>
                <svg width="17px" height="16px" aria-label="star">
                    <use href="./images/icons.svg#icon-star_rank"></use>
                </svg>
                <svg width="17px" height="16px" aria-label="star">
                    <use href="./images/icons.svg#icon-star_rank"></use>
                </svg>
                <svg width="17px" height="16px" aria-label="star">
                    <use href="./images/icons.svg#icon-star_rank"></use>
                </svg>
                <svg width="17px" height="16px" aria-label="star">
                    <use href="./images/icons.svg#icon-star_rank"></use>
                </svg>
            <p class="review__paragraph">
                “The ease with which I can just go in and order what i want was amazing, It has been a very pleasant experience ordering from this app”
            </p>
        
            <div class="review__card">
                <picture>
                    <source srcset="./images/desktop/customer2.png 1x, ./images/desktop/customer2@2x.png 2x">
                    <img class="customers__image" src="./images/desktop/customer2.png" alt="customer">
                </picture>
                <div class="review__customer">
                    <b class="review__name">Sumith Shah</b>
                    <p class="review__name">Some Dude</p>
                </div>
            </div>
        </div>
    </div>
    </div>    
</section>