<section class="favorites">
  <div class="favorites__wrap container">
    <h2 class="favorites__title section__title">Some of Our Favorites</h2>
    <p class="favorites__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <ul class="favorites__list">
      <li class="favorites__item">
        <a class="favorites__link" href="">
          <picture>
            <source
              srcset="
                ./images/mobile/gamburger_mobile@1x.png 1x,
                ./images/mobile/gamburger_mobile@2x.png 2x
              "
              type="image/jpeg"
              media="(max-width: 767px)"
            />
            <source
              srcset="
                ./images/tablet/gamburger_tablet@1x.png 1x,
                ./images/tablet/gamburger_tablet@2x.png 2x
              "
              type="image/jpeg"
              media="(max-width: 1279px)"
            />
            <source
              srcset="
                ./images/desktop/gamburger_desktop@1x.png 1x,
                ./images/desktop/gamburger_desktop@2x.png 2x
              "
              type="image/jpeg"
              media="(min-width: 1279px)"
            />
            <img
              class="favorites__img"
              src="./images/mobile/gamburger_mobile@1x.png"
              alt="gamburger"
              width="224"
            />
          </picture>
        </a>
      </li>
      <li class="favorites__item">
        <a class="favorites__link" href="">
          <picture>
            <source
              srcset="
                ./images/mobile/pasta_mobile@1x.png 1x,
                ./images/mobile/pasta_mobile@2x.png 2x
              "
              type="image/jpeg"
              media="(max-width: 767px)"
            />
            <source
              srcset="
                ./images/tablet/pasta_tablet@1x.png 1x,
                ./images/tablet/pasta_tablet@2x.png 2x
              "
              type="image/jpeg"
              media="(max-width: 1279px)"
            />
            <source
              srcset="
                ./images/desktop/pasta_desktop@1x.png 1x,
                ./images/desktop/pasta_desktop@2x.png 2x
              "
              type="image/jpeg"
              media="(min-width: 1279px)"
            />
            <img
              class="favorites__img"
              src="./images/mobile/pasta_mobile@1x.png"
              alt="pasta"
              width="224"
            />
          </picture>
        </a>
      </li>
      <li class="favorites__item">
        <a class="favorites__link" href="">
          <picture>
            <source
              srcset="
                ./images/mobile/pizza_mobile@1x.png 1x,
                ./images/mobile/pizza_mobile@2x.png 2x
              "
              type="image/jpeg"
              media="(max-width: 767px)"
            />
            <source
              srcset="
                ./images/tablet/pizza_tablet@1x.png 1x,
                ./images/tablet/pizza_tablet@2x.png 2x
              "
              type="image/jpeg"
              media="(max-width: 1279px)"
            />
            <source
              srcset="
                ./images/desktop/pizza_desktop@1x.png 1x,
                ./images/desktop/pizza_desktop@2x.png 2x
              "
              type="image/jpeg"
              media="(min-width: 1279px)"
            />
            <img
              class="favorites__img"
              src="./images/mobile/pizza_mobile@1x.png"
              alt="pizza"
              width="224"
            />
          </picture>
        </a>
      </li>
      <li class="favorites__item">
        <a class="favorites__link" href="">
          <picture>
            <source
              srcset="
                ./images/tablet/chicken_tablet@1x.png 1x,
                ./images/tablet/chicken_tablet@2x.png 2x
              "
              type="image/jpeg"
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/desktop/chicken_desktop@1x.png 1x,
                ./images/desktop/chicken_desktop@2x.png 2x
              "
              type="image/jpeg"
              media="(min-width: 1279px)"
            />
            <img
              class="favorites__img"
              src="./images/tablet/chicken_tablet@1x.png"
              alt="chicken"
              width="224"
            />
          </picture>
        </a>
      </li>
      <li class="favorites__item">
        <a class="favorites__link" href="">
          <picture>
            <source
              srcset="
                ./images/tablet/salat_tablet@1x.png 1x,
                ./images/tablet/salat_tablet@2x.png 2x
              "
              type="image/jpeg"
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/desktop/salat_desktop@1x.png 1x,
                ./images/desktop/salat_desktop@2x.png 2x
              "
              type="image/jpeg"
              media="(min-width: 1279px)"
            />
            <img
              class="favorites__img"
              src="./images/tablet/salat_tablet@1x.png"
              alt="salat"
              width="224"
            />
          </picture>
        </a>
      </li>
      <li class="favorites__item">
        <a class="favorites__link" href="">
          <picture>
            <source
              srcset="
                ./images/tablet/borshch_tablet@1x.png 1x,
                ./images/tablet/borshch_tablet@2x.png 2x
              "
              type="image/jpeg"
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/desktop/borshch_desktop@1x.png 1x,
                ./images/desktop/borshch_desktop@2x.png 2x
              "
              type="image/jpeg"
              media="(min-width: 1279px)"
            />
            <img
              class="favorites__img"
              src="./images/tablet/borshch_tablet@1x.png"
              alt="borshch"
              width="224"
            />
          </picture>
        </a>
      </li>
    </ul>
  </div>
</section>
