<section class="favorites">
  <div class="container">
    <h2 class="section__title">Some of Our Favorites</h2>
    <p class="favorites__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <ul class="favorites__list">
      <li class="favorites__item">
        <a class="favorites__link" href="">
          <picture>
            <source
              srcset="
                ./images/mobile/gamburger.png    1x,
                ./images/mobile/gamburger@2x.png 2x
              "
              type="image/jpeg"
              media="(max-width: 767px)"
            />
            <source
              srcset="
                ./images/tablet/gamburger.png    1x,
                ./images/tablet/gamburger@2x.png 2x
              "
              type="image/jpeg"
              media="(max-width: 1279px)"
            />
            <source
              srcset="
                ./images/desktop/gamburger.png    1x,
                ./images/desktop/gamburger@2x.png 2x
              "
              type="image/jpeg"
              media="(min-width: 1279px)"
            />
            <img
              class="favorites__img"
              src="./images/mobile/gamburger.png"
              alt="gamburger"
              width="224"
            />
          </picture>
        </a>
      </li>
      <li class="favorites__item">
        <a class="favorites__link" href="">
          <picture>
            <source
              srcset="
                ./images/mobile/pasta.png    1x,
                ./images/mobile/pasta@2x.png 2x
              "
              type="image/jpeg"
              media="(max-width: 767px)"
            />
            <source
              srcset="
                ./images/tablet/pasta.png    1x,
                ./images/tablet/pasta@2x.png 2x
              "
              type="image/jpeg"
              media="(max-width: 1279px)"
            />
            <source
              srcset="
                ./images/desktop/pasta.png    1x,
                ./images/desktop/pasta@2x.png 2x
              "
              type="image/jpeg"
              media="(min-width: 1279px)"
            />
            <img
              class="favorites__img"
              src="./images/mobile/pasta.png"
              alt="pasta"
              width="224"
            />
          </picture>
        </a>
      </li>
      <li class="favorites__item">
        <a class="favorites__link" href="">
          <picture>
            <source
              srcset="
                ./images/mobile/pizza.png    1x,
                ./images/mobile/pizza@2x.png 2x
              "
              type="image/jpeg"
              media="(max-width: 767px)"
            />
            <source
              srcset="
                ./images/tablet/pizza.png    1x,
                ./images/tablet/pizza@2x.png 2x
              "
              type="image/jpeg"
              media="(max-width: 1279px)"
            />
            <source
              srcset="
                ./images/desktop/pizza.png    1x,
                ./images/desktop/pizza@2x.png 2x
              "
              type="image/jpeg"
              media="(min-width: 1279px)"
            />
            <img
              class="favorites__img"
              src="./images/mobile/pizza.png"
              alt="pizza"
              width="224"
            />
          </picture>
        </a>
      </li>
      <li class="favorites__item">
        <a class="favorites__link" href="">
          <picture>
            <source
              srcset="
                ./images/tablet/chicken.png    1x,
                ./images/tablet/chicken@2x.png 2x
              "
              type="image/jpeg"
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/desktop/chicken.png    1x,
                ./images/desktop/chicken@2x.png 2x
              "
              type="image/jpeg"
              media="(min-width: 1279px)"
            />
            <img
              class="favorites__img"
              src="./images/tablet/chicken.png"
              alt="chicken"
              width="224"
            />
          </picture>
        </a>
      </li>
      <li class="favorites__item">
        <a class="favorites__link" href="">
          <picture>
            <source
              srcset="
                ./images/tablet/salat.png    1x,
                ./images/tablet/salat@2x.png 2x
              "
              type="image/jpeg"
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/desktop/salat.png    1x,
                ./images/desktop/salat@2x.png 2x
              "
              type="image/jpeg"
              media="(min-width: 1279px)"
            />
            <img
              class="favorites__img"
              src="./images/tablet/salat.png"
              alt="salat"
              width="224"
            />
          </picture>
        </a>
      </li>
      <li class="favorites__item">
        <a class="favorites__link" href="">
          <picture>
            <source
              srcset="
                ./images/tablet/borshch.png    1x,
                ./images/tablet/borshch@2x.png 2x
              "
              type="image/jpeg"
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/desktop/borshch.png    1x,
                ./images/desktop/borshch@2x.png 2x
              "
              type="image/jpeg"
              media="(min-width: 1279px)"
            />
            <img
              class="favorites__img"
              src="./images/tablet/borshch.png"
              alt="borshch"
              width="224"
            />
          </picture>
        </a>
      </li>
    </ul>
  </div>
</section>
