<section class="footer">
  <div class="footer-inner container">
    <div class="footer-desktop">
        <div class="footer-menu">
            <svg class="menu-logo">
                <use href="./images/icons.svg#logo" width="69px" height="51px"></use>
            </svg>
            <ul class="menu-list">
                <li class="menu-item"><a href="">Home</a></li>
                <li class="menu-item"><a href="">About</a></li>
                <li class="menu-item"><a href="">Service</a></li>
                <li class="menu-item"><a href="">Menu</a></li>
                <li class="menu-item"><a href="">Contact</a></li>
            </ul>
         </div>
         <div class="footer-subscribe">
            <p class="subscribe-title">Subscribe</p>
            <form class="subscribe-form footer-subscribe" action="subscribe">
            <input
            class="subscribe-form__input footer-input"
            type="email"
            name="email"
            placeholder="Enter your email"
            />
            <button class="subscribe-form__btn footer-btn" type="submit">Subscribe</button>
            </form>
            <p class="footer-policy">
            By subscribing you agree to with our
            <span class="footer-link">Privacy Policy</span>
            </p>
        </div>
  </div>
  <div class="footer-info">
    <ul class="info-list">
      <li class="info-item footer-link"><a href="">Privacy Policy</a></li>
      <li class="info-item footer-link"><a href="">Terms of Service</a></li>
      <li class="info-item footer-link"><a href="">Cookies Settings</a></li>
    </ul>
    <p class="footer-rights">2022 FoodSta. All right reserved.</p>
  </div>
</section>
