<section class="hero">
  <div class="container">
    <h1 class="hero__title">Enjoy Your Favorite Food From Anywhere</h1>

    <div class="hero__content">
      <div class="hero__content-inner">
        <h1 class="hero__title-desktop">
          Enjoy Your Favorite Food From Anywhere
        </h1>

        <p class="hero__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          varius enim in eros elementum tristique. Duis cursus, mi quis viverra
          ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
        </p>

        <button class="hero__button" type="button" onclick="toggleModal()">
          Order Now
        </button>
      </div>

      <div class="hero__picture swiper mySwiper">
        <div class="swiper-wrapper">
          <picture class="swiper-slide">
            <source
              srcset="
                ./images/tablet/hero1_tablet@1x.png 1x,
                ./images/tablet/hero1_tablet@2x.png 2x
              "
              media="(min-width: 768px) and (max-width: 1279px)"
            />
            <source
              srcset="
                ./images/desktop/hero1_desktop@1x.png 1x,
                ./images/desktop/hero1_desktop@2x.png 2x
              "
              media="(min-width: 1280px)"
            />
            <img
              class="hero__photo"
              src="./images/tablet/hero1_tablet@1x.png"
              alt="фалафель"
            />
          </picture>
          <picture class="swiper-slide">
            <source
              srcset="
                ./images/tablet/hero2_tablet@1x.png 1x,
                ./images/tablet/hero2_tablet@2x.png 2x
              "
              media="(min-width: 768px) and (max-width: 1279px)"
            />
            <source
              srcset="
                ./images/desktop/hero2_desktop@1x.png 1x,
                ./images/desktop/hero2_desktop@2x.png 2x
              "
              media="(min-width: 1280px)"
            />
            <img
              class="hero__photo"
              src="./images/tablet/hero2_tablet@1x.png"
              alt="грецький салат"
            />
          </picture>
          <picture class="swiper-slide">
            <source
              srcset="
                ./images/tablet/hero3_tablet@1x.png 1x,
                ./images/tablet/hero3_tablet@2x.png 2x
              "
              media="(min-width: 768px) and (max-width: 1279px)"
            />
            <source
              srcset="
                ./images/desktop/hero3_desktop@1x.png 1x,
                ./images/desktop/hero3_desktop@2x.png 2x
              "
              media="(min-width: 1280px)"
            />
            <img
              class="hero__photo"
              src="./images/tablet/hero3_tablet@1x.png"
              alt="яйце пашот з авокадо"
            />
          </picture>
        </div>
        <svg class="arrow_left">
          <use href="./images/arrow.svg#arrow_left"></use>
        </svg>
        <svg class="arrow_right">
          <use href="./images/arrow.svg#arrow_right"></use>
        </svg>
      </div>
    </div>
  </div>
</section>
