<section class="offerings">
    <div class="container">
        <div class="offerings__background">
        <h1 class="offerings__title">What’s Special About Our Offerings</h1>
        <p class="offerings__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.</p>
<ul class="offerings__list">
    <li class="offerings__item"><svg class="offerings__icon" width="32px" height="32px">
        <use href="./images/icons.svg#order_rocket"></use>
    </svg>
<h3>Fastest Delivery</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros.</p>
</li>
    <li class="offerings__item"><svg class="offerings__icon" width="32px" height="32px">
        <use href="./images/icons.svg#order_finger"></use>
    </svg>
<h3>Easy to order</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros.</p></li>
</ul>
<div class="offerings__wraper">
    <button class="offerings__btn" type="button">Order Now</button>
    <a class="offerings__link" href="#">Read More <svg class="offerings__link--svg" width="14px" height="14px">
        <use href="./images/icons.svg#arrow_right"></use>
    </svg></a>
</div>
</div>
    </div>
</section>
