<section id="offerings" class="offerings offerings__background">
  <div class="container">
    <img
      class="img offerings__img"
      src="./images/mobile/aple@mob.png"
      alt="apple"
    />
    <img
      class="img tablet-img"
      src="./images/tablet/applebg_tablet.png"
      alt="apple"
    />
    <div class="desktop-flex">
      <div class="image-wraper">
        <img
          class="img desktop-img"
          src="./images/desktop/aple_desktop.png"
          alt="apple"
        />
      </div>
      <div class="desctop-main">
        <h1 class="offerings__title">
          What’s Special About <br />
          Our Offerings
        </h1>
        <p class="offerings__desc">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          varius enim in eros elementum tristique. Duis cursus, mi quis viverra
          ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
        </p>
        <ul id="service" class="offerings__list">
          <li class="offerings__item">
            <svg class="offerings__icon" width="32px" height="32px">
              <use href="./images/icons.svg#order_rocket"></use>
            </svg>
            <h3 class="offerings__benefits">Fastest Delivery</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Suspendisse varius enim in eros.
            </p>
          </li>
          <li class="offerings__item">
            <svg class="offerings__icon" width="32px" height="32px">
              <use href="./images/icons.svg#order_finger"></use>
            </svg>
            <h3 class="offerings__benefits">Easy to order</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Suspendisse varius enim in eros.
            </p>
          </li>
        </ul>
        <div class="offerings__wraper">
          <button class="offerings__btn" type="button">Order Now</button>
          <a class="offerings__link" href="#"
            >Read More
            <svg class="offerings__link--svg" width="14px" height="14px">
              <use href="./images/icons.svg#arrow_right"></use></svg
          ></a>
        </div>
      </div>
    </div>
  </div>
</section>
