<section class="section subscribe">
    <div class="container subscribe__container">
        <h2 class="section__title subscribe__title"></h2>
        <p class="section__description subscribe__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Suspendisse varius enim
            in eros elementum tristique.</p>
        <form class="subscribe-form" action="subscribe">
            <input class="subsccribe-form__input" type="email" name="email" placeholder="Enter your email">
            <button class="subsccribe-form__btn" type="submit">Subscribe</button>
        </form>
    </div>
</section>